
        body {
            font-family: "Montserrat", serif;
            background-color: #14151a;
            margin: 0;
            padding: 20px;
            display: flex;
        }


        .container h1 {
            text-align: center;
            color: #333;
        }

        #nav{
            width: 15%;
            background-color: #14151a;
            padding: 20px;
            border-radius: 15px;
        }


        #logo h1{
            font-size: 1.5rem;
            margin-left: 10%;
            color: #e9ecef;
            margin-bottom: 24%;
        
        }
        

        #nav a{
            text-decoration: none;
        }
        
        
        #nav  ul {
            list-style: none;
        }
        
        #nav  ul li a {
            text-decoration: none;
            color:  darkmagenta;
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px 0px;
            margin-bottom: 15px;
            font-size: 20px;
        }


        
        #nav a:hover{
            background-color: rgba(0,0,0,0.3);
            border-radius: 15px;
            width: 200px;
        }
        


        .container {
            width: 75%;
            margin: auto;
            background: white;
            padding: 20px;
            border-radius: 50px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .content-section {
            margin-bottom: 20px;
        }



        h2 {
            color: darkmagenta;
        }

        .container .content-section .materiais  {
            list-style-type: none;
            padding: 0;
        }


        .container .content-section .materiais .materiaislista  {
            background: #e9ecef;
            margin: 5px 0;
            padding: 10px;
            border-radius: 5px;
        }
        .container .content-section .materiais .materiaislista a {
            text-decoration: none;
            color: darkmagenta;
        }
        .container .content-section .materiais .materiaislista a:hover {
            text-decoration: underline;
        }


        .profile-dropdown {
            position: absolute;
            background-color: #282828;
            padding: 1rem;
            border-radius: 5px;
            display: none;
            z-index: 1;
        }
        
        .profile-dropdown.show {
            display: block;
        }
        
        .profile-option {
            padding: 0.5rem 0;
            cursor: pointer;
        }
        

        button {
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        
        button:hover {
            background-color: rgba(255, 0, 0, 0.2);
        }
        