body {
    font-family: "Montserrat", serif;
            background-color: #14151a;
            margin: 0;
            padding: 20px;
            display: flex;

}


#nav{
    width: 15%;
    background-color: #14151a;
    padding: 20px;
    border-radius: 15px;
}


#logo h1{
    font-size: 1.5rem;
    margin-left: 4%;
    color: #e9ecef;
    margin-bottom: 24%;

}


#nav a{
    text-decoration: none;
}


#nav  ul {
    list-style: none;
}

#nav  ul li a {
    text-decoration: none;
    color:  darkmagenta;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
    margin-bottom: 15px;
    font-size: 20px;
}



#nav a:hover{
    background-color: rgba(0,0,0,0.3);
    border-radius: 15px;
    width: 200px;
}


.container {

    width: 50%;
    margin-top: 10%;
    margin-left: 23%;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

#containerpai {
    width: 75%;
    height:90vmin;
    margin: auto;
    background-color: #8A2BE2;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



h1 {
    text-align: center;
}

.options {
    margin: 20px 0;
}

.option {
    display: block;
    background:#BA55D3;
    width: 100%;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.option:hover {
    background: #0056b3;
}

.result {
    margin-top: 20px;
    font-weight: bold;
}

.next-button {
    margin-top: 20px;
    display: none;
    background:#9932CC;
    width: 100%;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

@media (max-width: 768px) {
    body {
        flex-direction: row;
        justify-content: center;
    }
    #container{
        width: 83%;
        margin-left: 10%;
    }
    #nav {
        width: 17%;
        height: auto;
        margin-bottom: 0;

    }
    span{
        display: none;
    }
}