body {
    font-family: Arial, sans-serif;
            background-color: #8A2BE2;
            margin: 0;
            padding: 20px;
            display: flex;

}


#nav{
    width: 17%;
    height: 800px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 15px;
}


#nav h2{
        color: black;
        font-weight: 800;
        margin-bottom: 40px;
    
}

#nav a{
    text-decoration: none;
}


#nav  ul {
    list-style: none;
}

#nav  ul li a {
    text-decoration: none;
    color:  darkmagenta;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
    margin-bottom: 15px;
    font-size: 20px;
}



#nav a:hover{
    background-color: rgba(0,0,0,0.3);
    border-radius: 15px;
    width: 200px;
}


.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}




h1 {
    text-align: center;
}

.options {
    margin: 20px 0;
}

.option {
    display: block;
    background:#8A2BE2;
    width: 100%;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.option:hover {
    background: #0056b3;
}

.result {
    margin-top: 20px;
    font-weight: bold;
}

.next-button {
    margin-top: 20px;
    display: none;
    background:#9932CC;
    width: 100%;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

@media (max-width: 768px) {
    body {
        flex-direction: row;
        justify-content: center;
    }
    #container{
        width: 83%;
        margin-left: 10%;
    }
    #nav {
        width: 17%;
        height: auto;
        margin-bottom: 0;

    }
    span{
        display: none;
    }
}