
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    font-weight: normal;
}


body {
    color: white;    
}

h2 {
    font-size: 58px;    
    font-weight: 700;
    margin-bottom: 32px;
    text-align: center;
}


form {    
    display: flex;
    gap: 16px;
    flex-direction: column;
}


form button {
    background: linear-gradient(90deg, #968ee2 0%, #ab7cb8 100%);
}




#voltar { 
    position: absolute; 
    width: 6%;
    top: 10px; 
    left: 10px; 
    display: inline-flex; 
    align-items: center; 
    padding: 5px 10px; 
    background-color: rgba(255, 255, 255, 0.2); 
    border: none; 
    cursor: pointer; 
    text-decoration: none; 
    
}



input, button {      
    border: none;
    outline: none;
    border-radius: 12px;
    padding: 12px 20px;     
    font-size: 16px;
    width: 400px;
}


input {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.9);
}


input::placeholder {
    color: rgba(255, 255, 255, 0.5);    
}


button {
    font-weight: 700;
    margin-top: 25px;
    cursor: pointer;
    color: rgba(34, 33, 33, 0.76);
    padding: 16px;    
    transition: all 0.3s ease;
}


button:hover {
    transform: translateY(-2px);
}


p {
    margin-bottom: 32px;
    text-align: center;
    width: 400px;
    color: rgba(255, 255, 255, 0.8);
}


.containerPai {
    width: 100%;
    height: 100vh;
    background-color: #14151a;  
    display: flex;
    justify-content: center;
    align-items: center;  
}


.card {
    width: 80%;
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 32px;
    padding: 32px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}


.esquerda, .direita {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}


.direita{
   background-color: #483D8B;
   border-radius: 16px;
}

.formLogin,  .formCadastro, .facaCadastro {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.facaLogin, .facaCadastro {
    position: absolute;

    h2, p {
        color: rgba(46, 44, 44, 0.76)
    }

    button {
        background-color: rgba(255, 255, 255, 0.2);
        border: 1.8px solid rgba(231, 215, 215, 0.856);
    }
}


.card::after {
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("https://raw.githubusercontent.com/SuianeHenrichs1/form-interativo/refs/heads/master/assets/fundo.webp");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;    
    z-index: 0;
}




